.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
  } 
.loginfrm { 
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: #ffffff;
}
  